<ul class="nav nav-tabs">
  <li class="nav-item" ng-hide='auth'>
    <a class="nav-link" href="/#/login">Login</a>
  </li>
  <li class="nav-item" ng-hide='auth'>
    <a class="nav-link" href="/#/register">Register</a>
  </li>
  <li class="nav-item" ng-show='auth'>
    <a class="nav-link" href="/">Home, Welcome {{auth.username}}</a>
  </li>
  <li class="nav-item" ng-show='auth'>
    <a class="nav-link" ng-click='logout()'>Logout</a>
  </li>
</ul>
<div ng-show='auth' align='center'>
    <label class="control-label">Select File</label>
    <input type='file'/><button class='btn btn-success' ng-click='upload()'>Upload</button>
</div>
