<br><br>
<div class='col-sm-6 col-sm-offset-3 jumbotron'>
  <form>
    <div class="form-group row">
      <p align='center'>User Login</p>
      <div class="col-sm-12">
        <input type="text" class="form-control" ng-model="username" required placeholder="Username">
      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm-12">
        <input type="password" class="form-control" ng-model="password" required placeholder="Password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click='login()'>Login</button>
    <a href='/#/register'>Not registered yet? Register</a>
  </form>
</div>