<div class='col-sm-6 col-sm-offset-3'>
  <br>
  <div class="input-group">
    <select class="form-control" ng-model='pho' ng-options='pho.name for pho in photo'>
    </select>
    <span class="input-group-addon" id="basic-addon2" ng-click='display()'>Display</span>
  </div>
  <br>
  <div class="input-group">
    <input type="file" id='file' class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2" ng-click='upload()'>Upload</span>
  </div>
  <br>
  <div class='col-sm-12'>

    <img id='img'/>

  </div>

</div>